.linec1{
    stroke: #D379B0;
    color: #D379B0;
}
.linec2{
    stroke: #D379B0;
    color: #D379B0;
}
.linec3{
    stroke: #D72728;
    color: #D72728;
}
.linec4{
    stroke: #D72728;
    color: #D72728;
}
.linec5{
    stroke: #9AD5E1;
    color: #9AD5E1;
}
.linee1{
    stroke: #2BA037;
    color: #2BA037;
}
.linee2{
    stroke: #2AB8CB;
    color: #2AB8CB;
}
.linee3{
    stroke: #39747C;
    color: #39747C;
}
.linee4{
    stroke: #8E67A9;
    color: #8E67A9;
}
.linee5{
    stroke: #F07F19;
    color: #F07F19;
}
.linee6{
    stroke: #82853A;
    color: #82853A;
}
.linee7{
    stroke: #7F7F80;
    color: #7F7F80;
}
.linee8{
    stroke: #F07E20;
    color: #F07E20;
}
.linel1{
    stroke: #F9B879;
    color: #F9B879;
}
.linel2{
    stroke: #FFD94A;
    color: #FFD94A;
}
.linel3{
    stroke: #32A250;
    color: #32A250;
}
.linel4{
    stroke: #F9B879;
    color: #F9B879;
}
.linel5{
    stroke: #FFD94A;
    color: #FFD94A;
}
.linel6{
    stroke: #BCBD20;
    color: #BCBD20;
}
.linel7{
    stroke: #86B4A9;
    color: #86B4A9;
}
.linel8{
    stroke: #B85B17;
    color: #B85B17;
}
.linelt{
    stroke: #ACD18D;
    color: #ACD18D;
}
